<!элемент шапки> 

<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>RegForm</title>
</head> 
<header class='bar'>
        <img src="#" alt="LOGO">
        <img src="#" alt="ADV">
        <span class='bar_sp'>Head</span>
</header>
<br>