<form id='transform2' class='login' method="POST" action="/login">
    <div class='login_link'>
        <a href="/">Регистрация</a>
    </div>
        <label for="eml"></label>
        <input name='email' class='globalform_form_2type' id='eml' type="text" required>
        <label for="pas"></label>
        <input name='name' class='globalform_form_2type' id='pas' type="password" required>
        <input class='globalform_form_bttype' type="submit">
</form>